.header-content{
    min-height: 75vh;
    background: url("../../images/Group\ 7.png") right no-repeat;
    flex-direction: column;
}
.header-title{
    font-size: 4.2rem;
    padding: 50px;

}
.header-text{
    margin-top: -1.8rem;
    margin-bottom: 2.8rem;
    opacity: 0.8;
    max-width: 500px;
    text-align: left;
    padding: 50px;

    
}