.auth-form-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
  background-image: linear-gradient(79deg, #7afbff, #ffffff 48%, #fa9af5);
}

.profile-title {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 24px;
  z-index: 1;
  color: #000000;
}

.profile-form {
  display: flex;
  flex-direction: column;
}

.profile-form label {
  font-weight: bold;
  margin-top: 10px;
  color: #000000;
}

.profile-form input {
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #000000;
}

.save-btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  z-index: 1;
}

.save-btn:hover {
  background-color: #0056b3;
}

.profile-image {
  width: 70px;
  height: 70px;
  margin-bottom: 20px;
}